{% extends "base.html" %}
{% block content %}
<h3>Employees <a class="btn btn-sm btn-primary" href="{% url 'attendance:employee_create' %}">Add</a></h3>
<table class="table"><tr><th>Code</th><th>Name</th><th>Site</th><th>Attendance</th><th>Actions</th></tr>
{% for e in object_list %}<tr><td>{{ e.employee_code }}</td><td>{{ e.name }}</td><td>{{ e.site }}</td><td><form method="post" action="{% url 'attendance:check_in' e.id %}" class="d-inline">{% csrf_token %}<button class="btn btn-sm btn-success">Check In</button></form> <form method="post" action="{% url 'attendance:check_out' e.id %}" class="d-inline">{% csrf_token %}<button class="btn btn-sm btn-danger">Check Out</button></form></td><td><a href="{% url 'attendance:employee_update' e.pk %}">Edit</a> | <a href="{% url 'attendance:employee_delete' e.pk %}">Delete</a></td></tr>{% endfor %}
</table>
{% endblock %}
